- var host = '[HOST]'

mixin Nav()
    nav#nav.hidden-sm.hidden-xs.nav
        each resourceGroup in api.resourceGroups
            if (resourceGroup.name.search('Hidden') == -1)
                .list-group
                    a.list-group-item.heading.collapsed(data-toggle="#{(collapsible ? 'collapse' : '')}", data-target="##{slug(resourceGroup.name)}-menu", href="##{slug(resourceGroup.name)}")
                        if collapsible && resourceGroup.resources.length
                            span.toggle.pull-right
                                span.open.fa.fa-angle-down
                                span.closed.fa.fa-angle-right
                        = resourceGroup.name || 'Resource Group'
                    div(class=collapsible ? 'collapse' : '', id="#{slug(resourceGroup.name)}-menu")
                        each resource in resourceGroup.resources
                            if !condenseNav || (resource.actions.length != 1)
                                a.list-group-item(href="##{slug(resourceGroup.name)}-#{slug(resource.name)}")
                                    = resource.name || 'Resource'
                                each action in resource.actions
                                    a.list-group-item(href="##slug(resourceGroup.name)}-#{slug(resource.name)}-#{slug(action.method)}")
                                        +Icon(action.method)
                                        span.indent
                                            = action.name || action.method + ' ' + resource.uriTemplate
                            else
                                a.list-group-item(href="##{slug(resourceGroup.name)}-#{slug(resource.name)}")
                                    - var action = resource.actions[0]
                                    +Icon(action.method)
                                    = resource.name || action.name || action.method + ' ' + resource.uriTemplate

        each meta in api.metadata
            if meta.name == 'HOST'
                p.host
                    - host = meta.value
                    a(href=meta.value)= meta.value


mixin Parameters(params)
    table.table.table-striped.table-hover
        thead
            tr
                th Name
                th Type
                th Required
                th Description
                th Default
                th Example
                th Values
        tbody
            each param in params
                tr
                    td.name= param.name
                    td.type= param.type
                    td.required
                        if param.required
                            i.fa.fa-check
                    td.description!= markdown(param.description)
                    td.default
                        if param.default
                            = param.default
                    td.example
                        if param.example
                            = param.example
                    td.values
                        if param.values.length
                            ul.list-unstyled
                                each value in param.values
                                    li= value.value

- var attributeExists = function (properties, name) {
-    for (var i in properties)
-       if ((properties[i].hasOwnProperty(name) && properties[i][name].length) || properties[i].type == 'object' || properties[i].type == 'array')
-           return true;
-   return false;
- }

mixin ItemSubType (baseId, item)
    - subId = baseId + item.itemType.replace(/\s+/g, '')
    a.schema-type-link(href='#' + subId)= item.itemType

mixin ItemSubTypes (baseId, items)
    if items.itemType
        +ItemSubType(baseId, items)
    else
        each item, i in items
            if item.itemType
                +ItemSubType(baseId, item)
            else
                = item.itemType
            if (i < items.length - 1)
                = ' | '

mixin ItemType (baseId, item)
    if item.type == 'array' && item.itemType
        = 'array [ '
        if item.items
            if item.items.itemType
                +ItemSubType(baseId, item.items)
            else if item.items.properties
                +ItemSubTypes(baseId, item.items.properties)
            else
                = item.items.type
        else
            +ItemSubType(baseId, item)
        = ' ]'
    else if item.type == 'object' && item.itemType
        = 'object ( '
        if item.items
            if item.items.itemType
                +ItemSubType(baseId, item.items)
            else if item.items.properties
                +ItemSubTypes(baseId, item.items.properties)
        else
            +ItemSubType(baseId, item)
        = ' )'
    else
        = item.type

mixin SchemaTable (schema, baseId)
    thead
        tr
            th Name
            th Type
            th.text-center Required
            th.text-center Null
            th Description
            th Default
            th Example
            th Values
    tbody
        each item in schema
            tr
                td.name= item.name
                td.type
                    +ItemType(baseId, item)
                td.required
                    if item.required
                        i.fa.fa-check
                td.null
                    if item.nullable
                        i.fa.fa-check
                td.description= item.description
                td.default= item.default
                td.example= item.example
                td.values
                    if item.enum && item.enum.length
                        ul.list-unstyled
                            each value in item.enum
                                li= value

mixin SchemaPopupTable (schema, baseId)
    div.schema-popup(id=baseId)
        table.table.table-condensed.table-schema
            if schema.properties
                +SchemaPopupSubTable(schema.properties, baseId)
            else if schema.items.properties
                +SchemaPopupSubTable(schema.items.properties, baseId)

mixin SchemaPopupSubTable (schema, baseId)
    thead
        tr
            th Name
            th Type
            th.text-center Required
            th.text-center Null
            th Description
    tbody
        each item in schema
            tr
                td.name= item.name
                td.type
                    +ItemType(baseId, item)
                td.required
                    if item.required
                        i.fa.fa-check
                td.null
                    if item.nullable
                        i.fa.fa-check
                td.description= item.description

mixin SchemaSubTable (schema, baseId)
    if schema.properties
        +SchemaTable(schema.properties, baseId)
    else if schema.items.properties
        +SchemaTable(schema.items.properties, baseId)

mixin RequestResponse(title, request, resourceGroup, resource, action)
    - var id = hash(resourceGroup.name.toString() + resource.name.toString() + action.name.toString() + action.method.toString() + title.toString() + request.name.toString() + request.headers.toString() + request.body.toString() + request.schema.toString())
    - var content = request.description || Object.keys(request.headers).length || request.body || request.schema

    div(class=title.toLowerCase())
        strong
            = title
            if request.name
                | &nbsp;
                code(class='response-code-' + request.name)= request.name
                - var text = ''
                case request.name
                    when '200'
                        - var text = 'OK'
                    when '201'
                        - var text = 'Created'
                    when '400'
                        - var text = 'Bad Request'
                    when '401'
                        - var text = 'Unauthorized'
                    when '404'
                        - var text = 'Not Found'
                    when '422'
                        - var text = 'Unprocessable Entity'
                if (text.length > 0)
                    = ' ' + text
                - var status = false
                each h in request.headers
                    if ( h.name == 'Status' )
                        - status = true
                if (status == false)
                    - request.headers.unshift({ name : 'Status', value : request.name + ' ' + text });
        if content
            a.pull-right.collapsed(data-toggle="collapse", data-target="##{id}")
                span.closed Show
                span.open Hide

        if content
            div.collapse(id=id,class=title.toLowerCase() + '-content')
                if request.description
                    .description!= markdown(request.description)

                if Object.keys(request.headers).length
                    h5 Headers
                    div.headers(id=id + '-headers')
                        pre
                            code
                                each item in request.headers
                                    != highlight(item.name + ': ' + item.value, 'http')
                                    br

                if request.body
                    a.pull-right.collapsed(data-toggle="collapse", data-target="##{id + '-body'}")
                        span.closed Show
                        span.open Hide

                if request.body
                    h5 Body

                    div.body.collapse(id=id + '-body')
                        pre
                            code!= highlight(request.body)

                if request.schemaStructure
                    h4 Structure
                    div.schema-structure(id=id + '-structure')
                        table.table-schema.table.table-striped.table-hover
                            +SchemaTable(request.schemaStructure.properties, id + '-substructure-')
                    if request.subStructures
                        h4 Sub structures
                        div.schema-substructure
                            - var keys = Object.keys(request.subStructures)
                            - keys.sort()
                            table.table-schema.table.table-striped.table-hover.table-bordered
                                for name in keys
                                    - subId = name.replace(/\s+/g, '')
                                    thead
                                        tr
                                            th.schema-substructure-title(colspan=8,id=id + '-substructure-' + subId)= name
                                    +SchemaSubTable(request.subStructures[ name ], id + '-substructure-')
                            for name in keys
                                - subId = name.replace(/\s+/g, '')
                                +SchemaPopupTable(request.subStructures[ name ], id + '-substructure-' + subId + '-popup')

mixin Examples(resourceGroup, resource, action)
    each example in action.examples
        each request in example.requests
            +RequestResponse('Request', request, resourceGroup, resource, action)
        each response in example.responses
            +RequestResponse('Response', response, resourceGroup, resource, action)

mixin ResourceGroup(resourceGroup, getButtonClass)
    .resource-group
        h1(id="#{slug(resourceGroup.name)}").resource-group-heading
            span
                = resourceGroup.name || 'Resource Group'
            | &nbsp;
            a(href="#{slug(resourceGroup.name)}")
                i.fa.fa-link
        .resource-group-body
            if resourceGroup.description
                != markdown(resourceGroup.description)
            each resource in resourceGroup.resources
                h2(id="#{slug(resourceGroup.name)}-#{slug(resource.name)}").resource-heading
                    span
                        = resource.name || 'Resources'
                    | &nbsp;
                    a(href="#{slug(resourceGroup.name)}-#{slug(resource.name)}")
                        i.fa.fa-link
                if resource.description
                    != markdown(resource.description)
                each action in resource.actions
                    case action.method
                        when 'POST': - var actionClass = 'success'
                        when 'GET': - var actionClass = 'info'
                        when 'PUT': - var actionClass = 'warning'
                        when 'PATCH': - var actionClass = 'warning'
                        when 'DELETE': - var actionClass = 'danger'
                        default: - var actionClass = 'default'
                    section.resource-body(id="#{slug(resourceGroup.name)}-#{slug(resource.name)}-#{slug(action.method)}")
                        .action-heading(class=actionClass)
                            case action.method
                                when 'POST': - var btnClass = 'btn-success'
                                when 'GET': - var btnClass = 'btn-' + getButtonClass
                                when 'PUT': - var btnClass = 'btn-warning'
                                when 'PATCH': - var btnClass = 'btn-warning'
                                when 'DELETE': - var btnClass = 'btn-danger'
                                default: - var btnClass = 'btn-default'
                            .btn-group.action-pattern
                                a.btn(class=btnClass, href="##{slug(resourceGroup.name)}-#{slug(resource.name)}-#{slug(action.method)}")= action.method
                                code.btn.btn-default= decodeURI(resource.uriTemplate)

                            if action.description
                                .btn-group
                                    .btn.btn-default= 'Example'
                                    .btn.btn-default.code!= action.description.replace('[HOST]', host)

                        - var params = action.parameters.length ? action.parameters : resource.parameters
                        if params.length
                            .action-parameters
                                h3= 'Parameters'
                                +Parameters(params)
                        if action.examples
                            .action-examples
                                h3= 'Responses'
                                +Examples(resourceGroup, resource, action)

mixin Icon(method)
    case method
        when 'GET'
            span.badge.alert-info
                i.fa.fa-arrow-down
        when 'POST'
            span.badge.alert-success
                i.fa.fa-plus
        when 'PUT'
            span.badge.alert-warning
                i.fa.fa-pencil
        when 'PATCH'
            span.badge.alert-warning
                i.fa.fa-pencil
        when 'DELETE'
            span.badge.alert-danger
                i.fa.fa-times
        default
            span.badge
                i.fa.fa-dot-circle-o

mixin Content(getButtonClass)
    .introduction
        h1= 'Introduction'
        div.description!= markdown(api.description)

    each resourceGroup, index in api.resourceGroups
        if (resourceGroup.name.search('Hidden') == -1)
            +ResourceGroup(resourceGroup, getButtonClass)
